<header class="app-header">
  <h1>Lista de Tarefas</h1>
</header>

<main class="app-main">
  <div class="formulario">
    <h2>Inserir Tarefa</h2>
    <form (submit)="adicionarTarefa(); $event.preventDefault()">
      <label for="titulo">Título</label>
      <input type="text" id="titulo" [(ngModel)]="titulo" name="titulo" required>

      <label for="descricao">Descrição</label>
      <input type="text" id="descricao" [(ngModel)]="descricao" name="descricao" required>

      <label for="dataFinalizacao">Data da Finalização</label>
      <input type="date" id="dataFinalizacao" [(ngModel)]="dataFinalizacao" name="dataFinalizacao" required>

      <button type="submit">Inserir</button>
    </form>
  </div>

  <div class="tarefas">
    <h2>Tarefas</h2>
    <ul>
      <li *ngFor="let tarefa of tarefas" class="tarefa-item">
        <strong>{{ tarefa.titulo }}</strong> - {{ tarefa.descricao }} (Finalizar até: {{ tarefa.dataFinalizacao }})
        <button (click)="removerTarefa(tarefa)" class="btn-remover">
          🗑️
        </button>
      </li>
    </ul>
  </div>
</main>


