.app-header{
    align-items: center;
    justify-content: center;
    display: flex;

    background-color: purple;
    height: 60px;
}

.app.main{
    align-items: center;
    justify-content: center;
    display: flex;

    
}

